body {
    background-color:  rgb(65, 174, 211);
}

.pictureBox{
    width: 115px;
    height: 115px;
    border: 3px solid rgb(113, 147, 158);
}
.largeBox{
    width: 100%;
    height: 85px;
    border: 3px solid rgb(49, 9, 49);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color: rgb(38, 87, 87);
}
.rectangleBox{
    width: 100px;
    height: 100px;
    border: 4px solid rgb(110, 61, 0);
    background-color: rgb(109, 28, 28);
    margin-left: 45%;
}
.bulletBox{
    width: 150px;
    height: 90px;
    border: 4px solid rgb(66, 52, 35);
    background-color: rgb(94, 91, 91);
    margin-left: 89%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.largeRegtangleBox{
    width: 25%;
    height: 75px;
    border: 35px solid rgb(120, 153, 28);
    background-color: rgb(43, 13, 71);
}
.bulletLeftBox{
    width: 150px;
    height: 90px;
    border: 4px solid rgb(66, 52, 35);
    background-color: rgb(94, 91, 91);
    margin-left: 88%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}


